#stage
	background-color: #F4FCFF

	cursor: -webkit-grab
	cursor: grab

	&:active
		cursor: -webkit-grabbing
		cursor: grabbing
	
	canvas
		@include transform-origin( top , left )
		@include scale( 1 )
		background-color: #F4FCFF
		position: absolute
		left: 0
		top: 0

.is-touch #stage
	
	canvas
		@include scale( 0.5 )