<!DOCTYPE html>
<html>
	{{> sections/head }}
	<body ontouchstart>
		<main>
			{{> sections/preloader }}
			{{> sections/landing }}
			{{> sections/stage }}
			{{> sections/pause }}
		</main>
	</body>
	{{> sections/scripts }}
</html>